{% extends "base/layout.html" %}
{% import "macros/swiper.html" as swiper %}
{% from "macros/quantity.html" import quantity %}
{% from "macros/rating.html" import rating %}

{% block content %}
<section class="introduce">
   <div class="introduce__body container js_e-vh" data-vh="introduce, 100, headerH">
      <div class="introduce__row">
         <div class="introduce__item introduce__item_first">
            <h1 class="designed-text designed-text_outline">
               <span>pure lite</span>
               <span>pure lite</span>
            </h1>
            <div class="designed-text">
               <span>pure lite</span>
               <span>pure lite</span>
            </div>
            <div class="introduce__sub-title sub-title">
               Pure Lite is a refreshing beverage with 7% alcohol. Every bottle contains the pure taste or beer you crave for.
               <strong>Drink Responsibly.</strong>
            </div>
         </div>
         <div class="introduce__item introduce__item_second">
            <blockquote class="introduce__rotated-text"><span>make it new,</span><span>make it pure</span></blockquote>
            <div class="introduce__decor">
               <span>{{ img("♔img/decor/decor-2.jpg") }}</span>
               <span>{{ img("♔img/introduce/shapes.svg") }}</span>
            </div>
            <h2 class="introduce__text">7*<br> strong<br> and<br> pure<br> dark beer</h2>
         </div>
      </div>
      <div class="introduce__photos">
         <span>{{ img("♔img/introduce/1.jpg") }}</span>
         <span>{{ img("♔img/introduce/2.jpg") }}</span>
         <span>{{ img("♔img/introduce/3.jpg") }}</span>
      </div>
   </div>
   <div class="introduce__decor">
      <span>{{ img("♔img/decor/decor-1.jpg") }}</span>
      <span>{{ img("♔img/decor/decor-3.jpg") }}</span>
   </div>
</section>
<section class="question ibg">
   <div class="question__body container">
      <h2 class="question__title title">need a drink?</h2>
      <a href="#" class="question__btn btn"><span>Go To Store</span></a>
   </div>
   {{ img("♔img/question/bg-960.jpg 960w, ♔img/question/bg.jpg 1440w") }}
</section>
<section class="product">
   <div class="product__body">
      <div class="product__column product__column_slider">
         {% set arr = [] %}
         {% for slide in slides %}{% set arr = (arr.push(
            img(slide)
         ), arr) %}{% endfor %}
         {{ swiper.new("swiper-product js_e-swiper-product", arr, "") }}
      </div>
      <div class="product__column product__column_content">
         <div class="product__top-info">
            <span class="product__price">$4.60</span>
            {{ quantity("product") }}
            <p class="product__sub-title sub-title">Massive malt meets big hops in this classic flavor for maximum effect. Several North American hops and large British malts create powerful tropical fruit aromas up front, followed by a cleansing bitter finish. This classic flavor is considered a big guy drink, yet it's simple to handle thanks to a good dose of dry hopping.</p>
         </div>
         <div class="product__bottom-info">
            <div class="item-body item-body_row">
               <h3 class="item-body__title">classic purelite dark beer</h3>
               <div class="item-body__reviews">
                  {{ rating("item-body", "4.8") }}
                  <div class="item-body__review-title">109 reviews</div>
               </div>
            </div>
            <a href="#" class="product__btn btn"><span>Add To Cart</span></a>
         </div>
      </div>
   </div>
   <div class="product__decor">
      <span>{{ img("♔img/decor/decor-5.jpg") }}</span>
      <span>{{ img("♔img/decor/decor-4.jpg") }}</span>
   </div>
</section>
<section class="frequently">
   <div class="frequently__body container">
      <h2 class="frequently__title title">frequently bought</h2>
      <div class="frequently__columns">
         <div class="frequently__item">
            <div class="frequently__image">
               {{ img("♔img/frequently/1.jpg") }}
            </div>
            <div class="item-body">
               <h3 class="item-body__title">lemon purelite beer</h3>
               <div class="item-body__reviews">
                  {{ rating("item-body", "4.6") }}
                  <div class="item-body__review-title">201 reviews</div>
               </div>
            </div>
         </div>
         <div class="frequently__item">
            <div class="frequently__image">
               {{ img("♔img/frequently/2.jpg") }}
            </div>
            <div class="item-body">
               <h3 class="item-body__title">apple purelite beer</h3>
               <div class="item-body__reviews">
                  {{ rating("item-body", "3.8") }}
                  <div class="item-body__review-title">220 reviews</div>
               </div>
            </div>
         </div>
         <div class="frequently__item">
            <div class="frequently__image">
               {{ img("♔img/frequently/3.jpg") }}
            </div>
            <div class="item-body">
               <h3 class="item-body__title">mint purelite beer</h3>
               <div class="item-body__reviews">
                  {{ rating("item-body", "4.2") }}
                  <div class="item-body__review-title">143 reviews</div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="frequently__decor">
      <span>{{ img("♔img/decor/decor-6.jpg") }}</span>
      <span>{{ img("♔img/decor/decor-7.jpg") }}</span>
   </div>
</section>
<section class="discount ibg">
   <div class="discount__body container">
      <h3 class="discount__title">purelite<br>biggest<br>store<br>sale yet</h3>
      <h2 class="discount__big-title">up to<br>80% off</h2>
   </div>
   {{ img("♔img/discount/bg-960.jpg 960w, ♔img/discount/bg.jpg 1440w") }}
</section>
<section class="advantages">
   <div class="advantages__body container">
      <div class="advantages__item">Crazy<br>Deals</div>
      <div class="advantages__item">Free Gifts<br>& Bundles</div>
      <div class="advantages__item">Nothing<br>Above $100</div>
   </div>
</section>
<section class="products">
   <div class="products__body container">
      <div class="products__item">
         <div class="products__image">
            <span>
               {{ img("♔img/products/2.jpg") }}
            </span>
         </div>
         <div class="item-body">
            <h3 class="item-body__title">lemon purelite beer</h3>
            <div class="item-body__reviews">
               {{ rating("item-body", "4.8") }}
               <div class="item-body__review-title">109 reviews</div>
            </div>
         </div>
      </div>
      <div class="products__item">
         <div class="products__image">
            <span>
               {{ img("♔img/products/1.jpg") }}
            </span>
         </div>
         <div class="item-body">
            <h3 class="item-body__title">mint purelite beer</h3>
            <div class="item-body__reviews">
               {{ rating("item-body", "4.8") }}
               <div class="item-body__review-title">90 reviews</div>
            </div>
         </div>
      </div>
      <div class="products__item">
         <div class="products__image">
            <span>
               {{ img("♔img/products/3.jpg") }}
            </span>
         </div>
         <div class="item-body">
            <h3 class="item-body__title">apple purelite beer</h3>
            <div class="item-body__reviews">
               {{ rating("item-body", "4.8") }}
               <div class="item-body__review-title">143 reviews</div>
            </div>
         </div>
      </div>
      <div class="products__item">
         <div class="products__image">
            <span>
               {{ img("♔img/products/4.jpg") }}
            </span>
         </div>
         <div class="item-body">
            <h3 class="item-body__title">butter purelite beer</h3>
            <div class="item-body__reviews">
               {{ rating("item-body", "4.8") }}
               <div class="item-body__review-title">107 reviews</div>
            </div>
         </div>
      </div>
   </div>
   <div class="products__decor">
      <span>{{ img("♔img/decor/decor-8.jpg") }}</span>
      <span>{{ img("♔img/decor/decor-9.jpg") }}</span>
   </div>
</section>
<section class="pure ibg">
   <div class="pure__body container js_e-vh">
      <div class="pure__top">
         <h2 class="designed-text designed-text_outline">
            <span>pure lite</span>
            <span>pure lite</span>
         </h2>
         <div class="designed-text">
            <span>pure lite</span>
            <span>pure lite</span>
         </div>
      </div>
      <div class="pure__bottom">
         <span class="pure__image">
            <span>{{ img("♔img/pure/star.svg") }}</span>
            <span>new beer</span>
         </span>
         <p class="pure__sub-title sub-title"> Massive malt meets big hops in this classic flavor for maximum effect. Several North American hops and large British malts create powerful tropical fruit aromas up front, followed by a cleansing bitter finish. This classic flavor is considered a big guy drink, yet it's simple to handle thanks to a good dose of dry hopping. </p>
      </div>
   </div>
   {{ img("♔img/pure/bg-960.jpg 960w, ♔img/pure/bg.jpg 1440w") }}
</section>
<section class="reviews">
   <div class="reviews__body container">
      <h2 class="reviews__title title">customer reviews</h2>
      <div class="reviews__items">
         <div class="reviews__item">
            <h3 class="reviews__name">Amelia Watson</h3>
            <div class="reviews__row">
               {{ rating("item-body", "4.4") }}
               <time datetime="2021-08-01" class="reviews__time">08/01/2021</time>
            </div>
            <p class="reviews__sub-title sub-title">One of the best tasted beer I've ever had. the best beer available in the here, in my opinion. I have drank many award winning beers and my favorite brew is purelite.</p>
         </div>
         <div class="reviews__item">
            <h3 class="reviews__name">Kiara Morisson</h3>
            <div class="reviews__row">
               {{ rating("item-body", "5") }}
               <time datetime="2021-08-01" class="reviews__time">08/01/2021</time>
            </div>
            <p class="reviews__sub-title sub-title">One of the best tasted beer I've ever had. the best beer available in the here, in my opinion. I have drank many award winning beers and my favorite brew is purelite.</p>
         </div>
      </div>
   </div>
   <div class="reviews__decor">
      <span>{{ img("♔img/decor/decor-8.jpg") }}</span>
      <span>{{ img("♔img/decor/decor-10.jpg") }}</span>
      <span>{{ img("♔img/decor/decor-11.jpg") }}</span>
   </div>
</section>
<section class="newsletter">
   <div class="newsletter__body container">
      <h2 class="newsletter__title title">newsletter</h2>
      <form action="#" enctype="multipart/form-data" method="post" class="form-newsletter">
         <div class="form-newsletter__field">
            <input type="text" autocomplete="name" name="form-newsletter[name]" data-placeholder="type your name here..." class="js_e-input input form-newsletter__input js_e-req">
         </div>
         <div class="form-newsletter__field">
            <input type="text" autocomplete="email" name="form-newsletter[email]" data-placeholder="type your email here..." data-type="email" class="js_e-input input form-newsletter__input js_e-req">
         </div>
         <div class="form-newsletter__field">
            <textarea name="form-newsletter[message]" data-placeholder="type your message here..." class="js_e-input input js_e-autosize js_e-req form-newsletter__input form-newsletter__input_textarea"></textarea>
         </div>
         <div class="form-newsletter__field">
            <button type="submit" class="form-newsletter__btn btn"><span>submit information</span></button>
         </div>
      </form>
   </div>
   <div class="newsletter__decor">
      <span>{{ img("♔img/decor/decor-10.jpg") }}</span>
      <span>{{ img("♔img/decor/decor-11.jpg") }}</span>
   </div>
</section>
{% endblock content %}