<footer class="footer">
   <div class="footer__body container">
      <div class="footer__item">
         <h3 class="footer__title">About</h3>
         <div class="footer__paragraphs sub-title">
            <p>purelite is owned and operated by Purelite Inc., a liquor company that offers the best pure beer in the market today!</p>
            <p>Any questions? Our email address is <a href="mailto:ask@purelite.com">ask@purelite.com</a></p>
            <p>Drink Responsibly</p>
            <p>Credits to pureliteTM</p>
            <p><a href="https://mister-corvo.com" target="_blank" rel="noreferrer" class="perfect">Coded by <span>&#169;MrCorvoDev</span></a></p>
            <p><a href="https://www.freepik.com/free-psd/delicious-beverage-web-template_16692222.htm" target="_blank" rel="noreferrer" class="perfect">Image by <span>Freepik</span></a></p>
         </div>
      </div>
      <div class="footer__item">
         <h3 class="footer__title">Info</h3>
         <ul class="footer__list">
            <li>
               <a href="#" class="footer__link">Search</a>
            </li>
            <li>
               <a href="#" class="footer__link">About Us</a>
            </li>
            <li>
               <a href="#" class="footer__link">Frequently Asked Questions</a>
            </li>
            <li>
               <a href="#" class="footer__link">Careers</a>
            </li>
            <li>
               <a href="#" class="footer__link">Terms and Conditions</a>
            </li>
            <li>
               <a href="#" class="footer__link">Privacy Policy</a>
            </li>
            <li>
               <a href="#" class="footer__link">Returns and Refunds Policy</a>
            </li>
            <li>
               <a href="#" class="footer__link">Shop Our Instagram</a>
            </li>
         </ul>
      </div>
      <div class="footer__item">
         <div class="designed-text designed-text_outline">
            <span>pure lite</span>
            <span>pure lite</span>
         </div>
         <div class="designed-text">
            <span>pure lite</span>
            <span>pure lite</span>
         </div>
      </div>
   </div>
   <div class="footer__decor">
      <span>{{ img("♔img/decor/decor-7.jpg") }}</span>
      <span>{{ img("♔img/decor/decor-13.jpg") }}</span>
   </div>
</footer>