<header id="js_e-header" class="header js_e-lp">
   <div class="container header__body js_e-header-bd">
      <a href="♔" class="header__logo">
         {# {{ img("♔img/header/logo.png", 0) }} #}
      </a>
      <div class="menu">
         <button type="button" class="menu__burger js_e-burger">
            <span><span></span></span>
         </button>
         <nav class="menu__body js_e-menu-bd">
            <ul class="menu__list">
               {# li*5>a.menu__link{$} #}
            </ul>
         </nav>
      </div>
   </div>
</header>