<header id="js_e-header" class="header js_e-lp">
   <div class="container header__body js_e-header-bd">
      <a href="♔" class="header__logo">
         {{ img("♔img/icons/logo.svg") }}
      </a>
      <div class="menu">
         <button type="button" class="menu__burger js_e-burger">
            <span><span></span></span>
         </button>
         <nav class="menu__body js_e-menu-bd">
            <ul class="menu__list">
               <li>
                  <a href="#" class="menu__link">Home</a>
               </li>
               <li>
                  <a href="#" class="menu__link">Drinks</a>
               </li>
               <li>
                  <a href="#" class="menu__link">About</a>
               </li>
               <li>
                  <a href="#" class="menu__link">Contact Us</a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</header>