//=======================================================================================================================================================================================================================================================
.input {
   $em: 21;
   @include dynamic-font($em, 18);
   @function em($one, $two: $em) {
      @return prc($one, $two, 1) + 0em;
   }
   $height: 67;
   $paddingRL: em(40);
   @include transition(0.15);
   width: 100%;
   min-height: em($height);
   padding: 0 $paddingRL;
   background: $color-2;
   color: $color-1;
   border: em(4) solid $color-1;
   font-weight: bold;
   &.js_s-focus {
      outline: none;
      background: color.scale($color-2, $lightness: +10%);
      border: em(4) solid color.scale($color, $lightness: -30%);
   }
   &.js_s-invalid {
      border: em(4) solid $form-err-color;
      background: $form-err-color;
      color: $color;
   }
}
textarea.input {
   $paddingTB: em(15);
   padding-top: $paddingTB;
   padding-bottom: $paddingTB;
}
//=======================================================================================================================================================================================================================================================
