//=======================================================================================================================================================================================================================================================
.btn {
   @include dynamic-font(21, 18);
   @function em($one, $two: 21) {
      @return prc($one, $two, 1) + 0em;
   }
   color: $color-3;
   text-align: center;
   padding: em(20) em(45);
   min-width: em(257);
   border: em(4) solid $color-1;
   //Заполнение фона вправо(Ставить ссылке)
   @include transition();
   position: relative;
   span {
      position: relative;
      z-index: 2;
   }
   body.js_s-mouse &:hover {
      color: $color-2;
      &:after {
         right: 0;
         width: 100%;
      }
   }
   &:after {
      content: "";
      position: absolute;
      right: 100%;
      top: 0%;
      width: 0%;
      height: 100%;
      background-color: $color-1;
      @include transition();
      z-index: 1;
   }
}
//=======================================================================================================================================================================================================================================================
