//=======================================================================================================================================================================================================================================================
.content {
   padding-top: var(--headerH, #{dc(map-get($headerHeights, PC), map-get($headerHeights, Mobile))});
}
//=======================================================================================================================================================================================================================================================
.header {
   $headerBackground: rgba(#000, 0.75);
   $headerBlur: rem(2);
   $menuBackground: rgba(#000, 0.75);
   $menuPaddingTB: 30;
   $menuPaddingRL: em(20);
   $burgerWidth: rem(30);
   $burgerHeight: rem(20);
   $burgerColor: #fff;
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 100;
   &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $headerBackground;
      z-index: 2;
      backdrop-filter: blur($headerBlur);
   }
   &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: var(--headerH, #{dc(map-get($headerHeights, PC), map-get($headerHeights, Mobile))});
      @include transition();
      body.js_s-sticky & {
         height: var(--headerSH, #{dc(map-get($headerHeights, StickyPC), map-get($headerHeights, StickyMobile))});
      }
   }
   &__logo {
      position: relative;
      @include dynamic-option(flex, 60, 40, $before: 0 0);
      overflow: hidden;
      z-index: 3;
      img {
         max-width: 100%;
      }
   }
   @at-root .menu {
      height: 100%;
      display: flex;
      align-items: center;
      @include dynamic-font(16, 12);
      &.js_s-act-menu:before {
         visibility: visible;
         transform: translate(0, 0);
      }
      &:before {
         @include media-query {
            content: "";
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: $menuBackground;
            backdrop-filter: blur($headerBlur);
            z-index: 1;
            visibility: hidden;
            @include transition(0.5);
            transform: translate(0, -100%);
         }
      }
      &__body {
         @include media-query {
            visibility: hidden;
            @include transition(0.5);
            overflow: auto;
            position: fixed;
            top: 0;
            transform: translate(0, -100%);
            left: 0;
            width: 100%;
            height: 100%;
            padding-top: dc(map-get($headerHeights, PC) + $menuPaddingTB, map-get($headerHeights, Mobile) + $menuPaddingTB);
            padding-bottom: em($menuPaddingTB);
            padding-left: $menuPaddingRL;
            padding-right: $menuPaddingRL;
            z-index: 1;
            body.js_s-sticky & {
               padding-top: dc(map-get($headerHeights, StickyPC) + $menuPaddingTB, map-get($headerHeights, StickyMobile) + $menuPaddingTB);
            }
            .menu.js_s-act-menu & {
               visibility: visible;
               transform: translate(0, 0);
            }
         }
      }
      &__burger {
         height: 100%;
         padding: 0 calc((var(--headerH, #{dc(map-get($headerHeights, PC), map-get($headerHeights, Mobile))}) - #{$burgerWidth}) / 2);
         position: relative;
         z-index: 3;
         @include media-query($md3, min) {
            display: none;
         }
         > span {
            @include transition();
            position: relative;
            width: $burgerWidth;
            height: $burgerHeight;
            &:before,
            &:after,
            span {
               @include transition();
               position: absolute;
               left: 0;
               width: 100%;
               height: rem(2);
               background: $burgerColor;
            }
            &:before {
               content: "";
               top: 0;
            }
            &:after {
               content: "";
               bottom: 0;
            }
            span {
               top: 50%;
               transform: scale(1) rotate(0deg) translate(0, -50%);
            }
         }
         .menu.js_s-act-menu & > span {
            &:before {
               top: 50%;
               transform: rotate(45deg) translate(0, -50%);
            }
            &:after {
               bottom: 50%;
               transform: rotate(-45deg) translate(0, 50%);
            }
            span {
               transform: scale(0) rotate(-45deg) translate(0, -50%);
            }
         }
      }
      &__list {
         position: relative;
         z-index: 3;
         display: flex;
         gap: em(20);
         @include media-query {
            flex-direction: column;
         }
      }
      &__link {
         font-size: em(22);
         @include media-query {
            font-size: em(30);
         }
         @function em($one, $two: 22) {
            @return prc($one, $two, 1) + 0em;
         }
         line-height: em(30);
         //Подчеркивание с центра(Ставить ссылке)
         position: relative;
         @include transition();
         body.js_s-mouse &:hover {
            &:before {
               width: 100%;
            }
         }
         &:before {
            content: "";
            position: absolute;
            background-color: $color-1;
            @include transition();
            height: rem(2);
            bottom: 0%;
            left: 50%;
            width: 0%;
            transform: (translate(-50%, 0));
         }
      }
   }
}
//=======================================================================================================================================================================================================================================================
