//=======================================================================================================================================================================================================================================================
body {
   padding-right: var(--lp, 0);
   &.js_s-lock {
      overflow: hidden;
      touch-action: none;
   }
}
.js_e-lp {
   padding-right: var(--lp, 0);
}
//=======================================================================================================================================================================================================================================================
