//=======================================================================================================================================================================================================================================================
.item-body {
   @include dynamic-font(16, 10);
   &_row {
      .item-body {
         &__reviews {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: em(10);
         }
         &__rating {
            margin-bottom: 0;
         }
      }
   }
   &__title {
      @include dynamic-font(41, 22);
      @function em($one, $two: 41) {
         @return prc($one, $two, 1) + 0em;
      }
      margin-bottom: em(30);
   }
   &__reviews {
   }
   &__rating {
      @function em($one, $two: 40) {
         @return prc($one, $two, 1) + 0em;
      }
      margin-bottom: em(5);
   }
   &__review-title {
      font-size: em(17);
   }
}
//=======================================================================================================================================================================================================================================================
