//=======================================================================================================================================================================================================================================================
@use "sass:color";
@use "sass:math";
@import "components/core";
//=======================================================================================================================================================================================================================================================

//=======================================================================================================================================================================================================================================================
@import "components/libs/lazysizes";
@import "components/modules/header";
@import "components/modules/full-screen";
//=======================================================================================================================================================================================================================================================
.introduce {
   position: relative;
   &__body {
      padding-top: em(50);
      padding-bottom: em(50);
      position: relative;
      z-index: 3;
      min-height: var(--vh-introduce, 100vh);
   }
   &__row {
      display: flex;
      gap: em(30) em(60);
      flex-wrap: wrap;
      margin-bottom: em(34);
      position: relative;
      z-index: 2;
   }
   &__item {
      &_first {
      }
      &_second {
         flex: 1 1 auto;
         padding-left: em(100);
         position: relative;
         margin-top: em(30);
         .introduce__decor {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            span {
               &:nth-child(1) {
                  left: em(100);
                  top: 0;
                  @include media-query($md1) {
                     width: 60%;
                  }
               }
               &:nth-child(2) {
                  right: 0;
                  top: 0;
                  @include media-query($md1) {
                     width: 10%;
                  }
               }
            }
         }
      }
   }
   &__sub-title {
      @function em($one, $two: 21) {
         @return prc($one, $two, 1) + 0em;
      }
      padding-top: em(20);
      @include dynamic-option(max-width, 484, 150);
      @include media-query($md4) {
         max-width: none;
      }
   }
   &__rotated-text {
      font-size: em(20);
      @function em($one, $two: 20) {
         @return prc($one, $two, 1) + 0em;
      }
      position: absolute;
      top: 50%;
      left: 0;
      display: inline-block;
      span {
         line-height: em(25);
      }
      transform: rotate(90deg) translate(-50%, 100%);
      text-decoration: underline;
      span {
         display: block;
         white-space: nowrap;
      }
   }
   &__text {
      font-size: em(41);
      @function em($one, $two: 41) {
         @return prc($one, $two, 1) + 0em;
      }
      padding-top: em(50);
      position: relative;
      top: em(70);
   }
   & > &__decor span {
      &:nth-child(1) {
         bottom: 0;
         left: 0;
      }
      &:nth-child(2) {
         right: 4%;
         bottom: 35%;
         @include media-query($md4) {
            bottom: 10%;
         }
      }
   }
   &__decor {
      span {
         position: absolute;
         img {
            max-width: 100%;
         }
      }
   }
   &__photos {
      display: flex;
      flex-wrap: wrap;
      gap: em(20);
      span {
         position: relative;
         overflow: hidden;
         flex: 1 1 calc(33.333% - em(20));
         padding: 0 0 20% 0;
         min-width: rem(220);
         max-width: 50%;
         margin: 0 auto;
         @include media-query(477) {
            max-width: rem(340);
            padding: 0 0 30% 0;
         }
         img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
   }
}
//=======================================================================================================================================================================================================================================================
@import "components/modules/background/ibg";
@import "components/modules/title";
@import "components/modules/btn";
.question {
   padding: em(80) 0;
   position: relative;
   &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      background-color: rgba(#000, 0.3);
   }
   &__body {
      position: relative;
      z-index: 3;
   }
   &__title {
      @function em($one, $two: 67) {
         @return prc($one, $two, 1) + 0em;
      }
      margin-bottom: em(30);
      text-align: left;
   }
   &__btn {
   }
}
//=======================================================================================================================================================================================================================================================
@import "components/libs/swiper/core";
@import "components/libs/swiper/components/a11y";
@import "components/modules/form/base";
@import "components/modules/form/null";
@import "components/modules/form/components/quantity";
@import "components/modules/form/components/rating";
@import "components/modules/item-body";
.product {
   padding-top: em(135);
   padding-bottom: em(90);
   @include media-query {
      padding-top: em(60);
      padding-bottom: em(10);
   }
   position: relative;
   &__body {
      flex-wrap: wrap;
      gap: em(30);
      position: relative;
      z-index: 3;
      @include media-query($md3, min) {
         display: flex;
      }
   }
   &__column {
      &_slider {
         min-width: 0;
         user-select: none;
         position: relative;
         z-index: -2;
         flex: 0 1 em(652);
         @include media-query($md2) {
            flex: 0 1 em(500);
         }
         .swiper {
            height: 100%;
         }
         .swiper-slide {
            min-height: em(300);
            img {
               position: absolute;
               width: 100%;
               height: 100%;
               top: 0;
               left: 0;
               object-fit: cover;
            }
         }
      }
      &_content {
         flex: 0 1 calc(100% - em(652 + 30));
         @include media-query($md2) {
            flex: 0 1 calc(100% - em(500 + 30));
         }
         padding-right: rem(12);
         @include dynamic-max-width(565);
         margin: 0 auto;
         @include media-query {
            margin-top: em(-200);
            padding: 0 rem(12);
         }
         @include media-query(340) {
            padding: 0 rem(5);
         }
      }
   }
   %z-to-top {
      position: relative;
      z-index: 2;
   }
   &__top-info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: em(168);
      position: relative;
      gap: em(20);
      @include media-query {
         margin-bottom: em(20);
      }
      &:before {
         pointer-events: none;
         content: "";
         position: absolute;
         width: 200%;
         height: 200%;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         background: radial-gradient(ellipse, $backgroundColor 0%, rgba(0, 0, 0, 0) 65%);
         z-index: -2;
      }
   }
   &__price {
      @extend %z-to-top;
      font-size: em(82);
      @include media-query($md1) {
         font-size: em(60);
      }
      @include media-query($md2) {
         font-size: em(50);
      }
   }
   &__quantity {
      @extend %z-to-top;
      @include media-query($md2) {
         font-size: 0.9em;
      }
      @include media-query {
         font-size: 1em;
      }
   }
   &__sub-title {
      @extend %z-to-top;
      padding-top: em(32);
      flex: 1 1 100%;
      position: relative;
      @include media-query($md1) {
         padding-top: em(10);
      }
      @include media-query {
         padding-top: 0;
      }
   }
   &__bottom-info {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
      margin-left: em(-200);
      width: calc(100% + em(200));
      margin-bottom: em(60);
      gap: em(30);
      @include media-query {
         width: 100%;
         margin-left: 0;
      }
      &:before {
         pointer-events: none;
         content: "";
         position: absolute;
         width: 200%;
         height: 400%;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         background: radial-gradient(circle, $backgroundColor 0%, rgba(0, 0, 0, 0) 45%);
         z-index: -1;
      }
   }
   .item-body {
      @include dynamic-max-width(390, 765);
      &__title {
         @extend %z-to-top;
      }
      &__reviews {
         @extend %z-to-top;
      }
      &__rating {
         position: relative;
         &:before {
            content: "";
            pointer-events: none;
            position: absolute;
            width: 200%;
            height: 400%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: radial-gradient(ellipse, $backgroundColor 35%, rgba(0, 0, 0, 0) 50%);
            z-index: -1;
         }
      }
      &__review-title {
         @extend %z-to-top;
      }
   }
   &__btn {
      @extend %z-to-top;
   }
   &__decor {
      span {
         position: absolute;
         &:nth-child(1) {
            bottom: 0;
            left: 0;
         }
         &:nth-child(2) {
            right: 0;
            bottom: 35%;
         }
         img {
            max-width: 100%;
         }
      }
   }
}
//=======================================================================================================================================================================================================================================================
.frequently {
   position: relative;
   padding: em(60) 0;
   &__body {
      position: relative;
      z-index: 4;
   }
   &__title {
      @function em($one, $two: 67) {
         @return prc($one, $two, 1) + 0em;
      }
      margin-bottom: em(45);
   }
   &__columns {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include dynamic-max-width(1060);
      margin: 0 auto;
      gap: em(30) em(98);
   }
   &__item {
      flex: 1 1 calc(33.333% - em(98));
      min-width: rem(250);
      max-width: 50%;
      margin: 0 auto;
   }
   &__image {
      position: relative;
      min-height: rem(389);
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         position: absolute;
         top: 0;
         left: 0;
      }
   }
   .item-body {
      position: relative;
      z-index: 2;
      margin-top: em(-60);
      padding: 0 em(20);
      &:before {
         content: "";
         position: absolute;
         pointer-events: none;
         width: 150%;
         height: 300%;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         background: radial-gradient(circle, $backgroundColor 0%, rgba(0, 0, 0, 0) 60%);
         z-index: -1;
      }
      &__title {
         max-width: rem(197);
      }
      &__reviews {
      }
      &__review-title {
         padding-top: em(10);
      }
   }
   &__decor {
      span {
         position: absolute;
         &:nth-child(1) {
            top: 12%;
            left: 5%;
         }
         &:nth-child(2) {
            right: 5%;
            bottom: 0;
         }
         img {
            max-width: 100%;
         }
      }
   }
}
//=======================================================================================================================================================================================================================================================
.discount {
   padding: em(88) 0;
   &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(#000, 0.3);
      z-index: 2;
   }
   &__body {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 4;
      gap: em(72);
   }
   &__title {
      align-self: flex-start;
      font-size: em(41);
      text-decoration: underline;
   }
   &__big-title {
      text-align: right;
      align-self: flex-end;
      font-size: em(77);
   }
}
//=======================================================================================================================================================================================================================================================
@import "components/modules/scroll/bar";
@import "components/modules/lock";
@import "components/modules/designed-text";
@import "components/modules/sub-title";
@import "components/modules/footer";
@import "components/libs/alertify";
@import "components/modules/stop-anim-while-resize";
//=======================================================================================================================================================================================================================================================
